extends index

block scriptsandstyles
  script(src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.3/socket.io.min.js")

block tabcontent
  p.h5 Data coming from all active devices.
  ul#datablock

  script.
    var socket = io(!{JSON.stringify(iosourceurl)});
        
    socket.on('rpcrequest', function (data) {
    
      console.log(data);
          
      var datablock = document.getElementById('datablock');
      var dataline = document.createElement('li');
      var humantime;

      dataline.classList.add('list-group-item');

      if (data.method == 'downlink') {
        humantime = 'no data';
        dataline.classList.add('list-group-item-success');
      }
      if (data.method == 'uplink') {
         humantime = data.params.human_time.toString();
        dataline.classList.add('list-group-item-info');
      }
      if (data.method == 'error') {
        dataline.classList.add('list-group-item-danger');
      }
      if (data.method == 'status') {
        dataline.classList.add('list-group-item-warning');
      }        

      // TODO link+modal for packte detail
      dataline.setAttribute("title", JSON.stringify(data, undefined, 3));
      datablock.prepend(dataline);
      dataline.innerHTML = '<span>' + humantime + ' | method: '+ data.method.toString() + ' | device: ' + data.params.dev_eui.toString() + '</span>';
      
    });
