extends index

block tabcontent
  p.h5 Listen to data coming from all active devices.
  p.text-muted Current packet
    !{JSON.stringify(request, undefined, ' ')} 
  .card.card-outline-primary.mb-3
    .card-block
      p
        // !{JSON.stringify(request.method)}  