extends index

block tabcontent
  p.h5 Listen to data coming from all active devices.
  ul#datablock
  
  script.
    var socket = io(!{JSON.stringify(iosourceurl)});
    
    //- var time = function (s) {
    //-   return new Date(s * 1e3).toISOString().slice(-13, -5);
    //- };
    
    //- var request_time = time(data.params.tx_time);
    
    socket.on('rpcrequest', function (data) {
    
      console.log(data);
    
      var datablock = document.getElementById('datablock');
      var dataline = document.createElement('li');

      dataline.classList.add('list-group-item');

      if (data.method == 'downlink') {
        dataline.classList.add('list-group-item-success');
      }
      if (data.method == 'uplink') {
        dataline.classList.add('list-group-item-info');
      }
      if (data.method == 'error') {
        dataline.classList.add('list-group-item-danger');
      }
      if (data.method == 'status') {
        dataline.classList.add('list-group-item-warning');
      }        

      dataline.setAttribute("title", JSON.stringify(data, undefined, 3));
      datablock.prepend(dataline);
      dataline.innerHTML = '<span>Method: '+ data.method.toString() + ' | Device: ' + data.params.dev_eui.toString() + '</span>';
      
    });
