extends index

block scriptsandstyles
  script(src='https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js')
  script(src='https://cdnjs.cloudflare.com/ajax/libs/chartist/0.11.0/chartist.min.js')
  script(src='https://rawgit.com/hansmaad/chartist-plugin-zoom/master/dist/chartist-plugin-zoom.min.js')
  script(src='https://rawgit.com/shbmbhrdwj/chartist-plugin-multithreshold/master/dist/chartist-plugin-multithreshold.min.js')
  //- script(src='https://rawgit.com/CodeYellowBV/chartist-plugin-legend/master/chartist-plugin-legend.js')
  
  link(href='https://cdnjs.cloudflare.com/ajax/libs/chartist/0.11.0/chartist.min.css', rel='stylesheet')
    
  style
    include css/graphs.css

block tabcontent
  #graph.ct-chart

block tabfooter
  .row
    .float-right
      button#reset.btn.btn-secondary Reset chart

  script.
    var df = !{data};
  script
    include js/graphs.js
  
