extends index

block tabcontent
  p Result of the RPC-JSON request
  
  if response
    if response.error
      pre(style="color:#d9534f") !{JSON.stringify(response, undefined, 3)}
    if response.result
      pre(style="color:#5cb85c") !{JSON.stringify(response, undefined, 3)}
  if saved
    pre(style="color:#5bc0de") !{JSON.stringify(saved, undefined, 3)}