extends index

block tabcontent
  p.h5 Save a command to be submitted to a device once a downlink call matching the device unique id is received by the server.
  form(action='/lora/form?save',method='post',name="instructions")
    div.form-group.row
      label.col-4.col-form-label.text-muted(for='') Device unique ID
      div.col-8
        input.form-control(id='',type='text',value='',placeholder='DEV_EUI',name='dev_eui')
    div.form-group.row
      label.col-4.col-form-label.text-muted(for='') Command sequence
      div.col-8
        input.form-control(id='',type='text',value='',placeholder='Command sequence number (e.g. 0x02)',name='command_seq')
    div.form-group.row
      label.col-4.col-form-label.text-muted(for='') Command string
      div.col-8
        select.form-control(id='',type='text',value='',placeholder='Reference command string',name='command_str')
          option(value="0xFE") Reboot device
          option(value="FALSE0xEF") Factory reset device
          option(value="0xFD") Set application id of device (SetAPPEUI)
          option(value="0xFC") Set activation by personalization (SetABP)
          option(value="0x07") Time delay in hours between wakeups when device is idle (UTIdle)
          option(value="0x02") Time delay in seconds until device is idle (DTIdle)
          option(value="0x01") Time delay in seconds to check for movement (DTMove)
          option(value="0x0A") Update time in minutes for general sensors (UTSensors)
          option(value="0x05") Update time in minutes while moving 0..255 (UTMoving)
          option(value="0x20") Update time in minutes for analog sensors (UTAnalog)
          option(value="0x18") Update time in minutes for 1Wire sensor (UT1WireT)
    div.form-group.row
      label.col-4.col-form-label.text-muted(for='') Command payload
      div.col-8
        input.form-control(id='',type='text',value='',placeholder='Payload value (e.g. 0x04)',name='command_val')
    div.form-group.row
      label.col-4.col-form-label.text-muted(for='') Pending commands
      div.col-8
        select.form-control(id='',type='text',value='',placeholder='Select true if you intend to send more commands',name='command_pending')
          option(value="true") True
          option(value="false") False
    div.form-group.row
      div.col-12
        input.btn.btn-success.float-right(type='submit',value='Save')
