extends index

block tabcontent
  p.h5 Submit data and instructions to a device.
  form(action='/lora/form?send',method='post',name="instructions")
    div.form-group.row
      label.col-4.col-form-label.text-muted(for='') Device unique ID
      div.col-8
        input.form-control(id='',type='text',value='',placeholder='DevEUI',name='deveui')
    div.form-group.row
      label.col-4.col-form-label.text-muted(for='') Device network address
      div.col-8
        input.form-control(id='',type='text',value='',placeholder='DevAddr',name='devaddr')
    div.form-group.row
      label.col-4.col-form-label.text-muted(for='') Network unique ID
      div.col-8
        input.form-control(id='',type='text',value='',placeholder='NetID',name='netid')
    div.form-group.row
      label.col-4.col-form-label.text-muted(for='') Payload
      div.col-8
        input.form-control(id='',type='text',value='',placeholder='Command or binary payload',name='commbin')
    div.form-group.row
      div.col-12
        input.btn.btn-success.float-right(type='submit',value='Send query')