extends index

block tabcontent
  p.h5 Save data and instructions to be submitted to a device once a downlink call matching the device id hits the app.
  form(action='/lora/form?save',method='post',name="instructions")
    div.form-group.row
      label.col-4.col-form-label.text-muted(for='') Device unique ID
      div.col-8
        input.form-control(id='',type='text',value='',placeholder='DevEUI',name='dev_eui')
    div.form-group.row
      label.col-4.col-form-label.text-muted(for='') Payload
      div.col-8
        input.form-control(id='',type='text',value='',placeholder='Hexadecimal payload',name='payload')
    div.form-group.row
      div.col-12
        input.btn.btn-success.float-right(type='submit',value='Save')