extends index

block tabcontent
  p.h5 Show data from a given record.
  form(action='/lora/data/show/data',method='post',name="show")
    div.form-group.row
      label.col-4.col-form-label.text-muted(for='') Command string
      div.col-8
        select.form-control(id='',type='text',value='',placeholder='Reference command string',name='resource')
          option(value="cache") Command cache
          option(value="command") Single command packet
          option(value="db") DB data
          option(value="visual") Data visualization
    div.form-group.row
      label.col-4.col-form-label.text-muted(for='') Device unique ID
      div.col-8
        input.form-control(id='',type='text',value='',placeholder='Separate multiple ids with commas (no spaces)',name='dev_eui')
    div.form-group.row
      div.col-12
        input.btn.btn-success.float-right(type='submit',value='Show data')  
