extends index
//- TODO dynamically load available methods from rpcserver middleware
block tabcontent
  p.h5 Use this form to test RPC calls.
  form(action='/lora/form?test',method='post',name="test")
    div.form-group.row
      label.col-4.col-form-label.text-muted(for='') Method
      div.col-8
        select.form-control(id='',type='text',value='',placeholder='RPC method to call',name='method')
          option(value="notify",name='method') Notify
          option(value="uplink",name='method') Uplink
          option(value="downlink",name='method') Downlink
          option(value="join",name='method') Join
          option(value="test",name='method') Unreferenced method
    div.form-group.row
      label.col-4.col-form-label.text-muted(for='') Device unique ID
      div.col-8
        input.form-control(id='',type='text',value='',placeholder='DEV_EUI',name='dev_eui')
    div.form-group.row
      label.col-4.col-form-label.text-muted(for='') Command type
      div.col-8
        select.form-control(id='',type='text',value='',placeholder='Command type for payload',name='command')
          option(value="reboot",name='command') Reboot
          option(value="reset",name='command') Factory reset
          option(value="set_eui",name='command') Set Application EUI
          option(value="set_abp",name='command') Activation by personalization parameters
          option(value="UTSensors",name='command') Update time sensor values (default 5 min)

    div.form-group.row
      label.col-4.col-form-label.text-muted(for='') Payload
      div.col-8
        input.form-control(id='',type='text',value='',placeholder='payload message',name='payload')
    div.form-group.row
      div.col-12
        input.btn.btn-success.float-right(type='submit',value='Send query')      
