extends index

block tabcontent
  p.h5 Data in the database for the device with APP_EUI !{JSON.stringify(data.dev_eui, undefined, 3)}
  p.h5 Data in the current logfile for device with APP_EUI !{JSON.stringify(data.dev_eui, undefined, 3)}
