/* Space out content a bit */
body {
  padding-top: 1.5rem;
  padding-bottom: 1rem;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.footer {
  padding-right: 1rem;
  padding-left: 1rem;
}

/* Custom page header */
.header {
  padding-bottom: 1rem;
}

/* Custom page footer */
.footer {
  padding-top: 1rem;
  color: #777;
}

/* Customize container */
@media (min-width: 48em) {
  .container {
    max-width: 46rem;
  }
}

.jumbotron {
  text-align: left;
  border-bottom: .05rem solid #e5e5e5;
  padding: 0.5rem;
  margin-bottom: 0 !important;
}
.jumbotron .btn {
  padding: .75rem 1.5rem;
}