body {
  padding-top: 1.5rem;
  padding-bottom: 1rem;
}

.header,
.footer {
  padding-right: 1rem;
  padding-left: 1rem;
}

.header {
  padding-bottom: 1rem;
}

.footer {
  padding-top: 1rem;
  color: #777;
}

li {
  padding-bottom: 2px !important;
  padding-top: 2px !important;
}

#datablock {
  max-height: 30vh;
  overflow-y: scroll;
  padding-left: 0 !important;
}

/*@media (min-width: 48em) {
  .container {
    max-width: 46rem;
  }
}*/

.jumbotron {
  text-align: left;
  border-bottom: .05rem solid #e5e5e5;
  margin-bottom: 0 !important;
  background-color: #fff;
  border-bottom: 0;
  padding: 1vh;
}

.jumbotron .btn {
  padding: .75rem 1.5rem;
}

@media only screen and (max-width: 500px) {

  .container , .jumbotron {
    padding: 0;
  }
  
}
